### Analysis to compare the arrival delays between Alaska and AM West

Impornt pandas Library

In [100]:
import pandas as pd

Load the dataset from csv file

In [101]:
df=pd.read_csv('Project1.csv')
df

List the delay and on time comparison between two airlines over the destinations by showing in a matrix. (Pivot table)

In [105]:
pivot_table = pd.pivot_table(df,index=["Airline","OnTimeOrDelay"], columns=["Destination"], values=["Times"])
pivot_table

                            Times
Destination           Los Angeles Phoenix San Diego San Francisco Seattle
Airline OnTimeOrDelay
ALASKA  delayed                62      12        20           102     305
        on time               497     221       212           503    1841
AM WEST delayed               117     415        65           129      61
        on time               694    4840       383           320     201

Add the calculation of a total percentage of delayed or on time by airline for comparsion. 
We can see the total rate of delay for Alaska is 13.27% and 10.89% for AM West. Means, AM West is doing better on delay control over all the destinations.

In [103]:
df2=df.groupby(by=["Airline","OnTimeOrDelay"]).sum("Times")
df2["% of On Time or Delayed By Airline"]=round(df2.Times / df2.groupby(["Airline"]).Times.transform(sum) * 100,2).astype(str)+"%"
df2

                       Times % of On Time or Delayed By Airline
Airline OnTimeOrDelay
ALASKA  delayed          501                             13.27%
        on time         3274                             86.73%
AM WEST delayed          787                             10.89%
        on time         6438                             89.11%

Add the calculation of a subtotal percentage of delayed or on time by airline and destinations for comparsion. We can dive into destinations to see the total rate of delays. By looking at the result below, we know it is interesting that the rate of delay for Alaska is lower than AM West in each individual destination.

In [109]:
df=pd.read_csv('Project1.csv')
df['% of On Time or Delayed by Airline and Destination'] = round(df.Times / df.groupby(["Airline","Destination"]).Times.transform(sum) * 100,2)
pivot_table = pd.pivot_table(df,index=["Airline","OnTimeOrDelay"], columns=["Destination"], values=["% of On Time or Delayed by Airline and Destination"])
pivot_table

                      % of On Time or Delayed by Airline and Destination  \
Destination                                                  Los Angeles
Airline OnTimeOrDelay
ALASKA  delayed                                                    11.09
        on time                                                    88.91
AM WEST delayed                                                    14.43
        on time                                                    85.57


Destination           Phoenix San Diego San Francisco Seattle
Airline OnTimeOrDelay
ALASKA  delayed          5.15      8.62         16.86   14.21
        on time         94.85     91.38         83.14   85.79
AM WEST delayed          7.90     14.51         28.73   23.28
        on time         92.10     85.49         71.27   76.72